@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


/* Apply the font to the body */
body {
  font-family: 'Montserrat', sans-serif;
}

.ball {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  border-radius: 50%;
  cursor: grab;
  display: flex;
}